.post-container {
    padding: 4em 15% 1em;
    background-color: #2B313E;
}

.post-card {
    padding: 2em;
    background-color: #FFF;
    margin: 1em 0;
}

.post-card .title {
    color: #333;
    display: inline-block;
    font-size: 1.8em;
    line-height: 1.2;
}

.post-card .post-meta, .post-card .post-meta a {
    color: #888;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.post-card .description {
    margin-top: 1.5em;
    font-weight: 300;
    line-height: 1.8;
    text-align: justify;
}

.post-card .category {
    background-color: #579ff0;
    color: #FFF;
    display: inline-block;
    font-size: 0.8em;
    padding: 0.5em;
    margin-top: 2.3em;
    font-weight: 300;
}

.post-card .more-link {
    border: 1px solid #ffc107;
    color: #ffc107;
    font-weight: 700;
    float: right;
    margin-top: 1em;
    padding: 0.8em;
    text-align: center;
    font-size: 0.9em;
}