.identity {
	background-color: #579ff0;
	color: #fcfcfd;
	padding: 10em 2em 7em;
	text-align: center;
}

.identity h1 {
	font-size: 2.5em;
	margin-bottom: 0.7em;
}

.identity h2 {
	font-weight: 300;
	font-size: 1.5em;
}

section {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

section img {
	width: 100%;
	max-width: 300px;
}

section h3 {
	text-transform: uppercase;
	font-size: 1.7em;
}

section h3 + p {
	font-size: 0.9em;
	margin-top: 0.5em;
}

#projetos.container {
	padding-top: 4em;
}

.projects-header {
	float: left;
	width: 30%;
	text-align: center;
}

.projects-header h3 {
	margin-top: 1em;
}

.projects {
	margin-left: 30%;
}

.projects li {
	background-color: #6F768B;
	padding: 1em;
	display: block;
	margin-bottom: 2em;
	margin-left: 4em;
}

.projects li a {
	font-size: 1.3em;
	color: #fff;
	text-align: center;
	display: inline-block;
	margin-bottom: 0.5em;
}

.projects li p {
	color: #d2d6e2;
	text-align: justify;
	line-height: 1.2;
}

.about img {
	float: right;
	margin-left: 1em;
	width: 200px;
}

.about .bio {
	color: #579ff0;
	font-size: 1.5em;
	margin: 1em;
	width: 50%;
}

.about p.text {
	line-height: 1.4;
	margin: 1em;
	text-align: justify;
	width: 50%;
}

.social {
	clear: both;
}