.dark {
	background-color: #2B313E;
	color: #fcfcfd;
}

.light {
	background-color: #fcfcfd;
	color: #2B313E;
}

header li a {
	color: #99A0B0;
}

.identity {
	background-color: #579ff0;
	color: #fcfcfd;
}

.projects li {
	background-color: #6F768B;
}

.projects li a {
	color: #fff;
}

.projects li p {
	color: #d2d6e2;
}

#sobre p.bio {
	color: #579ff0;
}